{% load static %}


<!DOCTYPE html>
<html>
<style>
    td {
        font-size: 16px;
        background-color: coral;
        text-align: center;
        border: 1px solid black;
    }

    tr {
        background-color: coral;
    }

    table {
        border: 1px solid black;
        background-color: coral;
    }
</style>

<head>
    <title>Pagesat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery.table2excel.js'%}"></script>
</head>

<body>


    <table class="table2excel" data-tableName="Test Table 2">
        <thead>
            <tr>

                <td>Emri</td>
                <td>Muaji</td>
                <td>Paga</td>
                <td>Viti</td>

            </tr>
        </thead>
        <tbody>
            {% for j in pag %}
            <tr>
                <td>{{ j.Instruktori}}</td>
                <td>{{ j.muaji }}</td>
                <td>{{ j.paga }}€</td>
                <td>{{ j.viti }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <button class="exportToExcel">Download</button>

    <input type="button" value="Go back!" onclick="history.back()">



    <script>
        $(function () {
            $(".exportToExcel").click(function (e) {
                var table = $(this).prev('.table2excel');
                if (table && table.length) {
                    var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
                    $(table).table2excel({
                        exclude: ".noExl",
                        name: "Excel Document Name",
                        filename: "pagesat" + ".xls",
                        fileext: ".xls",
                        exclude_img: true,
                        exclude_links: true,
                        exclude_inputs: true,
                        preserveColors: preserveColors
                    });
                }
            });

        });
    </script>
</body>

</html>